.detail__container {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    top: 0;
    right: -100%;
    transition: all 0.2s ease-in-out;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(171,199,197,1) 0%, rgba(211,225,226,0.6054796918767507) 42%, rgba(171,199,197,1) 100%);
       border-radius: 10px; 
       border-style: groove;
       border-color: honeydew;
       padding: .2rem;
  }
  
  .detail__container--active {
    right: 0;
  }
  
  .detail__description__container {
    padding: 1rem;
  }
  
  .detail__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    color: rgb(31, 22, 22);
    cursor: pointer;
  }
  
  .detail__button {
    text-decoration: none;
    font-weight: bold;
    background-color: #f9b29c;
    border-radius: 0.5rem;
    appearance: none;
    border: none;
    color: rgb(158, 13, 13);
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem auto;
    cursor: pointer;
  }
  
  .detail__title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .detail__description {
    line-height: 1.5rem;
    color: #484848;
  }
  
  .detail__picture {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .btn_app {
    background-color: #0cec8f;
    color:#7b4812;
    margin:.8rem;
    width:4rem;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
  }
  
  .btn_app:hover {
    background-color: #555;
  }
  
  .btn_app:active {
    background-color: black;
  }
  
  .btn_app:visited {
    background-color: #ccc;
  }
  .slidecontainer {
    width: 100%;
  }
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 1rem; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1rem; /* Set a specific slider handle width */
    height: 1rem; /* Slider handle height */
    background: #296b53; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  .sliderInput{
    height:1.3rem;
    font-size: .9rem;
    width:3rem;
    background-color: rgba(3, 56, 3, 0.411);
  }
  .inpComment{
    background-color: rgba(3, 56, 3, 0.411);
    width: 100%;
  }
  .slider::-moz-range-thumb {
    width:  1rem;  /* Set a specific slider handle width */
    height:  1rem;  /* Slider handle height */
    background: #296b53; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  .flexDiv{
    display:flex;
  }
  .buttonDiv{
    padding: .3rem;
  }
  @media only screen and (min-width: 768px) {
    .detail__container {
      top: auto;
      width: 33%;
    }
  }