.marker__container {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: 	rgba(126, 129, 190,.01);
    color: #7b4812;
    top: 0;
    right: -100%;
    transition: all 0.2s ease-in-out;
  }
  
  .marker__container--active {
    right: 0rem;
  }
  
  .marker__description__container {
    /* padding: 1rem; */
  }
  
  .marker__close {
    position: absolute;
    right: 1rem;
    top: 8.2rem;
    font-size: 1.5rem;
    color: rgb(241, 4, 4);
    cursor: pointer;
  }
  
  .marker__title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: .4rem;
  }
  
  .marker__description {
    height: 100%;
    line-height: 1.5rem;
    color: #7b4812;
    background-color: 	rgba(126, 129, 190,.8);
  }
  
  .marker__picture {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  
  @media only screen and (min-width: 768px) {
    .marker__container {
      top: auto;
      width: 44%;
    }
  }

  .emptyDiv{
    height:8.6rem;
    width:100%;
    background-color: 	rgba(126, 129, 190,.1);
  }