.preview__container {
    z-index: 1000;
    position: fixed;
    width: 50%;
    height: 70vh;
    overflow-y: scroll;
    background-color: 	rgba(126, 129, 190,.01);
    color: #7b4812;
    top:10%;
    left: -100%;
    transition: all 0.2s ease-in-out;
  }
  .emptyDiv{
    height:5.8rem;
    width:100%;
    background-color: 	rgba(126, 129, 190,.1);
  }
  .preview__container--active {
    left: 0;
    top: 5rem;
  }
  
  .preview__description__container {
    position: absolute;
    left: .2rem;
    top: 5rem;
    padding: 1rem;
  }
  
  .preview__close {
    position: absolute;
    right: .1rem;
    top: 5rem;
    font-size: 2rem;
    color: rgb(255, 2, 2);
    cursor: pointer;
  }
  
  .preview__button {
    text-decoration: none;
    font-weight: bold;
    background-color: #f9b29c;
    border-radius: 0.5rem;
    appearance: none;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem auto;
    cursor: pointer;
    top:15rem;
  }
  
  .preview__title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .preview__description {
    background-color: 	rgba(126, 129, 190,.7);
    line-height: 1.5rem;
    color: #7b4812;
  }
  
  .preview__picture {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .preview_link{
    color: #7b4812;
    font-weight: 600;
  }
  
  @media only screen and (min-width: 768px) {
    .preview__container {
      top: auto;
      width: 33%;
    }
  }